DB_HOST=localhost
DB_PORT=5432
DB_NAME=lpg
DB_USER=lpguser
DB_PASSWORD=yourpassword

# JWT Configuration
JWT_SECRET=<your_jwt_secret>




# AWS Configuration
AWS_ACCESS_KEY_ID=<your_aws_access_key_id>
AWS_SECRET_ACCESS_KEY=<your_aws_secret_access_key>
AWS_S3_BUCKET=<your_aws_s3_bucket>
REGION=<your_aws_region>


# OpenAI Configuration
OPENAI_API_KEY=<your_openai_api_key>

# Pinecone Configuration

#Pinecone_API_KEY=pcsk_5paTK3_DH7XWwV2WT4RufSESsDSjJ8hMBujJHZXvpRoPSbBrhwtskJamW2ujiEZqk96mUS

#PINECONE_ENV=us-east-1-aws
#PINECONE_INDEX_NAME=lpg-index

