@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*{
    box-sizing: border-box;
    font-family: "Poppins";
    padding: 0;
    margin: 0;
}

body {
    background: #dfe9f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #07001f;
}

/* Navigation Menu */

h2{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    box-shadow: 0 2px 16px hsla(230, 75%, 32%, .15);
    color: #07001f;
    margin-bottom: 1.2rem;  
}
.navbar ul{
    list-style-type: none;
    font-size: 1rem;
    margin-top: 1.2rem;
    padding: 10px 0;
    border-radius: 20px;
    outline: none;
    border: none;
    width: 100%;
    color: #fff;
    cursor: pointer;
    background: rgba(17, 107, 143);
    overflow: hidden;
    box-shadow: 0 2px 16px hsla(230, 75%, 32%, .15);
}
.navbar a{
    color: #fff;
    text-decoration: none;
    padding: 15px;
    text-align: center;
    display: block
    
}
.navbar a:hover{
    background: rgba(107, 179, 207, 0.8);
}
.navbar li{
    float: left;
}